In [2]:
import numpy as np
import pandas as pd

In [ ]:
"""pandas硬背
dataframe.to_csv存储时默认的encoding是utf8，如果有汉字且在excel打开时请指定GB2312。
dataframe存储时默认加一列index，一般需指定index=False。
dataframe存储时默认header=True，当header=False第一行变为header。注意header=n有歧义，当n=0时等价于header=False，当n!=0时等价于header=True，注意这个n不是指的第几行。
pd.read_csv读取数据默认encoding是utf8
pd.read_csv读取数据时默认在原始数据前加一列索引，0开始递增。
pd.read_csv读取数据时默认header=0，也就是原始数据第一行（通常是列名）。如果指写header=3则以第4行作为列名，且跳过前三行数据不读取（包括列名）。注意header不能赋值True或False。
"""

# dataframe

### dataframe创建

In [54]:
pd.DataFrame(np.random.randn(2,3),columns=list('abc'), dtype='int')  # 好像所有列只能指定一种类型

   a  b  c
0  0  0 -1
1  0 -1  0

In [53]:
sr1 = pd.Series(list('xyz'),index=range(3))
pd.DataFrame([[1,2,3],(11,12,13),sr1],columns=list('abc'),dtype='int')  # 元组同理

    a   b   c
0   1   2   3
1  11  12  13
2   x   y   z

In [51]:
sr1 = pd.Series(list('abc'),index=range(3))
sr2 = pd.Series(list('bcd'),index=range(1,4))
pd.DataFrame({'xa':sr1,'xb':sr2,'xc':[11,22,33,44],'xd':(6,7,8,9)})

    xa   xb  xc  xd
0    a  NaN  11   6
1    b    b  22   7
2    c    c  33   8
3  NaN    d  44   9

### dataframe设置

In [64]:
df1 = pd.DataFrame(np.random.randn(2,3),columns=list('abc'), dtype='float')  # 好像所有列只能指定一种类型
df1

          a         b         c
0  1.583159  1.439826  0.533407
1 -0.522018 -1.890724 -1.131635

In [65]:
"""返回series"""
df1.dtypes

a    float64
b    float64
c    float64
dtype: object

In [66]:
list(df1)

['a', 'b', 'c']

In [76]:
"""不修改原df，生成新series"""
sr1 = df1['a'].astype(int)
sr1

0    1
1    0
Name: a, dtype: int32

In [69]:
"""不修改原df，生成新df"""
df2 = df1.astype(int)
df2

   a  b  c
0  1  1  0
1  0 -1 -1

In [6]:
list(df1.iterrows())  # 按行迭代为(insex, Series)对。

[(0, a    0.929709
  b    0.554013
  Name: 0, dtype: float64), (1, a    0.828853
  b    0.337821
  Name: 1, dtype: float64), (2, a    0.465323
  b    0.417198
  Name: 2, dtype: float64)]

In [7]:
list(df1.itertuples())  # 按行迭代为元祖。

[Pandas(Index=0, a=0.9297085363113697, b=0.554013060465974),
 Pandas(Index=1, a=0.8288528986834381, b=0.3378209790557771),
 Pandas(Index=2, a=0.4653227193014484, b=0.4171977667352964)]

In [8]:
list(df1.iteritems())  # 按列迭代为(列名, Series)对。

[('a', 0    0.929709
  1    0.828853
  2    0.465323
  Name: a, dtype: float64), ('b', 0    0.554013
  1    0.337821
  2    0.417198
  Name: b, dtype: float64)]

In [11]:
df1.loc['aa'] = [55,66]  # 新增或替换一行的值
df1

            a          b
0    0.929709   0.554013
1    0.828853   0.337821
2    0.465323   0.417198
aa  55.000000  66.000000

In [12]:
df1['cc'] = 'newc'  # 新增或替换一列的值
df1

            a          b    cc
0    0.929709   0.554013  newc
1    0.828853   0.337821  newc
2    0.465323   0.417198  newc
aa  55.000000  66.000000  newc

In [13]:
df1['a'].unique()  # 某列的唯一值

array([ 0.92970854,  0.8288529 ,  0.46532272, 55.        ])

In [ ]:
"""按某列的值进行筛选"""
df1[[True,False,...]][[True,False,...]]....  # 总的原理
df1[df1['a'].isin([1,2,3,4])]
df1[df1['c'] >= 66]

# series

### series创建

In [51]:
pd.Series({11:111,22:222,})

11    111
22    222
dtype: int64

In [52]:
pd.Series({11:111,33:333,},index=[11,22,33])

11    111.0
22      NaN
33    333.0
dtype: float64

In [14]:
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1

2    a
4    b
6    c
3    d
5    e
dtype: object

In [ ]:
"""创建时，默认index.name为空"""
sr1.index.name

In [17]:
sr1.index.name = 'hi'

In [19]:
"""创建时，默认name为空"""
sr1.name

In [60]:
sr1.name = 'ww'

### series切片

In [110]:
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1

2    a
4    b
6    c
3    d
5    e
dtype: object

In [111]:
sr2 = pd.Series(list('abcde'),index=list('xymnh'))
sr2

x    a
y    b
m    c
n    d
h    e
dtype: object

In [112]:
"""单个元素索引返回的是1个值"""
"""当series索引本身是int或float，那么使用位置索引series[5]会有岐义，此时优先按值索引，而不是位置。"""
sr1[2]

'a'

In [113]:
"""多个元素索引返回的是series"""
"""但是当使用帽号切片时，是位置索引，而不是取值索引"""
sr1[:3]

2    a
4    b
6    c
dtype: object

In [37]:
"""帽号切片1个元素返回的仍是series"""
sr1[1:2]

4    b
dtype: object

In [42]:
"""单个元素索引返回的是1个值"""
sr2['h']

'e'

In [116]:
"""多个元素索引返回的是series"""
print(sr1[[3,2,11]])
print(sr2[['y','xxx','m']])

3       d
2       a
11    NaN
dtype: object
y        b
xxx    NaN
m        c
dtype: object

In [44]:
"""对于字符串索引的帽号切片，是按字母位置而不是按字母顺序，注意这里包含切片的最后一个元素"""
sr2['y':'n']

y    b
m    c
n    d
dtype: object

In [45]:
"""bool切片必返回series，这点类似帽号切片"""
sr1[sr1=='e']

5    e
dtype: object

### series一些操作

In [54]:
sr1.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [55]:
sr1.index

Int64Index([2, 4, 6, 3, 5], dtype='int64')

In [63]:
sr1.index = [1,2,3,4,5,]
sr1

1    a
2    b
3    c
4    d
5    e
Name: ww, dtype: object

### series复制

In [92]:
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1

2    a
4    b
6    c
3    d
5    e
dtype: object

In [93]:
"""直接复制，sr1_a和sr1指向同一个物理地址，修改会相互影响"""
sr1_a = sr1
sr1_a.index = [21,22,23,24,25]
sr1

21    a
22    b
23    c
24    d
25    e
dtype: object

In [94]:
"""使用copy复制，修改sr1_b不会影响sr1"""
sr1_b = sr1.copy()
sr1_b.index = [111,222,333,444,555]
sr1

21    a
22    b
23    c
24    d
25    e
dtype: object

In [104]:
"""切片后得到的series与原来的指向同一个物理地址，修改会相互影响"""
ssr1 = sr1[1:4]
print(ssr1)
ssr1[22] = 'xyz'
print(ssr1)
print(sr1)
"""注意：这样修改ssr1=['x','xx','xxx']是对ssr1重新赋值，不会修改到sr1"""

22    xyz
23      c
24      d
dtype: object
22    xyz
23      c
24      d
dtype: object
21      a
22    xyz
23      c
24      d
25      e
dtype: object

"注意：这样修改ssr1=['x','xx','xxx']是对ssr1重新赋值，不会修改到sr1"

In [107]:
"""切片后得到的series与原来的指向同一个物理地址，修改会相互影响"""
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
ssr1 = sr1[1:4]
"""下面这种修改ssr1不会修改sr1的index"""
ssr1.index = [55,44,33]
print(ssr1)
"""但是修改ssr1的value会影响到sr1的value。可能是sr1和ssr1有不同的index，但是指向同一个value。二者的index之间有映射关系"""
ssr1[44] = 'xxxx'
print(ssr1)
print(sr1)

55    b
44    c
33    d
dtype: object
55       b
44    xxxx
33       d
dtype: object
2       a
4       b
6    xxxx
3       d
5       e
dtype: object

### series增删改

In [73]:
sr1.drop(21)

22    b
23    c
24    d
25    e
Name: ww, dtype: object

In [75]:
sr1.drop([21,23,25])

22    b
24    d
Name: ww, dtype: object

### series运算

In [128]:
sr1 = pd.Series([1,3,5,2,4],index=[2,4,6,3,5])

In [129]:
sr1+sr1

2     2
4     6
6    10
3     4
5     8
dtype: int64

In [130]:
sr1*2

2     2
4     6
6    10
3     4
5     8
dtype: int64

In [131]:
import numpy as np
np.exp(sr1)

2      2.718282
4     20.085537
6    148.413159
3      7.389056
5     54.598150
dtype: float64

In [132]:
"""查看某索引是否在obj中，返回bool"""
print(2 in sr1)
print(2 & 8 | 3 in sr1)

True
True

In [138]:
"""缺失值判断"""
sr1 = pd.Series(['a',None,'',0],index=[1,2,3,4])
sr1

1       a
2    None
3
4       0
dtype: object

In [139]:
pd.isnull(sr1)

1    False
2     True
3    False
4    False
dtype: bool

In [140]:
pd.notnull(sr1)

1     True
2    False
3     True
4     True
dtype: bool

In [141]:
sr1.isnull()

1    False
2     True
3    False
4    False
dtype: bool

___

In [ ]:
"""df按某列值筛选的本质
df[通过一个bool值列表进行筛选]"""

In [ ]:
df['label'] = df['label'].map({'a': 0, 'b': 1, 'd': 2})

In [ ]:
df=df.values
array.tolist()
feature_vec = feature_df.values.T.tolist()