In [7]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
"""pandas硬背。
dataframe.to_csv存储时默认的encoding是utf8，如果有汉字且在excel打开时请指定GB2312。
dataframe存储时默认加一列index，一般需指定index=False。
dataframe存储时默认header=True，当header=False第一行变为header。注意header=n有歧义，当n=0时等价于header=False，当n!=0时等价于header=True，注意这个n不是指的第几行。
pd.read_csv读取数据默认encoding是utf8。
pd.read_csv读取数据时默认在原始数据前加一列索引，0开始递增。
pd.read_csv读取数据时默认header=0，也就是原始数据第一行（通常是列名）。如果指写header=3则以第4行作为列名，且跳过前三行数据不读取（包括列名）。注意header不能赋值True或False。
"""

# dataframe

### dataframe创建

In [162]:
pd.DataFrame(np.random.randn(2,3),columns=list('abc'), index=range(11,13), dtype='int')  # 好像所有列只能指定一种类型

    a  b  c
11  0  0  1
12  1  0 -2

In [163]:
sr1 = pd.Series(list('xyz'),index=range(3))
pd.DataFrame([[1,2,3],(11,12,13),sr1],columns=list('abc'),index=range(11,14), dtype='int')  # 元组同理

     a   b   c
11   1   2   3
12  11  12  13
13   x   y   z

In [51]:
sr1 = pd.Series(list('abc'),index=range(3))
sr2 = pd.Series(list('bcd'),index=range(1,4))
pd.DataFrame({'xa':sr1,'xb':sr2,'xc':[11,22,33,44],'xd':(6,7,8,9)})

    xa   xb  xc  xd
0    a  NaN  11   6
1    b    b  22   7
2    c    c  33   8
3  NaN    d  44   9

### dataframe设置

In [64]:
df1 = pd.DataFrame(np.random.randn(2,3),columns=list('abc'), dtype='float')  # 好像所有列只能指定一种类型
df1

          a         b         c
0  1.583159  1.439826  0.533407
1 -0.522018 -1.890724 -1.131635

In [65]:
"""返回series"""
df1.dtypes

a    float64
b    float64
c    float64
dtype: object

In [66]:
list(df1)

['a', 'b', 'c']

In [76]:
"""不修改原df，生成新series"""
sr1 = df1['a'].astype(int)
sr1

0    1
1    0
Name: a, dtype: int32

In [69]:
"""不修改原df，生成新df"""
df2 = df1.astype(int)
df2

   a  b  c
0  1  1  0
1  0 -1 -1

In [6]:
list(df1.iterrows())  # 按行迭代为(insex, Series)对。

[(0, a    0.929709
  b    0.554013
  Name: 0, dtype: float64), (1, a    0.828853
  b    0.337821
  Name: 1, dtype: float64), (2, a    0.465323
  b    0.417198
  Name: 2, dtype: float64)]

In [7]:
list(df1.itertuples())  # 按行迭代为元祖。

[Pandas(Index=0, a=0.9297085363113697, b=0.554013060465974),
 Pandas(Index=1, a=0.8288528986834381, b=0.3378209790557771),
 Pandas(Index=2, a=0.4653227193014484, b=0.4171977667352964)]

In [8]:
list(df1.iteritems())  # 按列迭代为(列名, Series)对。

[('a', 0    0.929709
  1    0.828853
  2    0.465323
  Name: a, dtype: float64), ('b', 0    0.554013
  1    0.337821
  2    0.417198
  Name: b, dtype: float64)]

In [11]:
df1.loc['aa'] = [55,66]  # 新增或替换一行的值
df1

            a          b
0    0.929709   0.554013
1    0.828853   0.337821
2    0.465323   0.417198
aa  55.000000  66.000000

In [12]:
df1['cc'] = 'newc'  # 新增或替换一列的值
df1

            a          b    cc
0    0.929709   0.554013  newc
1    0.828853   0.337821  newc
2    0.465323   0.417198  newc
aa  55.000000  66.000000  newc

In [13]:
df1['a'].unique()  # 某列的唯一值

array([ 0.92970854,  0.8288529 ,  0.46532272, 55.        ])

In [ ]:
"""按某列的值进行筛选"""
df1[[True,False,...]][[True,False,...]]....  # 总的原理
df1[df1['a'].isin([1,2,3,4])]
df1[df1['c'] >= 66]

# series

### series创建

In [51]:
pd.Series({11:111,22:222,})

11    111
22    222
dtype: int64

In [52]:
pd.Series({11:111,33:333,},index=[11,22,33])

11    111.0
22      NaN
33    333.0
dtype: float64

In [14]:
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1

2    a
4    b
6    c
3    d
5    e
dtype: object

In [ ]:
"""创建时，默认index.name为空"""
sr1.index.name

In [17]:
sr1.index.name = 'hi'

In [19]:
"""创建时，默认name为空"""
sr1.name

In [60]:
sr1.name = 'ww'

### series切片

In [70]:
sr1 = pd.Series(list('abcd'),index=range(2,6))
sr1

2    a
3    b
4    c
5    d
dtype: object

In [71]:
sr2 = pd.Series(range(4),index=list('xymn'))
sr2

x    0
y    1
m    2
n    3
dtype: int64

In [72]:
"""切片返回单个元素"""
"""当series索引本身是int或float，下面这种单个元素切片是按值索引，而不是位置"""
print(sr1[3])
print(sr2['m'])

b
2

In [74]:
"""切片返回series"""
print(sr1[[3,1]])
print(sr1[[3]])
print(sr2[['a','m']])
print(sr2[['m']])
print(sr1[1:2])
print(sr1[1:1])
"""对于字符串索引的帽号切片，是按字母位置而不是按字母顺序，注意这里包含切片的最后一个元素"""
print(sr2['y':'n'])

3      b
1    NaN
dtype: object
3    b
dtype: object
a    NaN
m    2.0
dtype: float64
m    2
dtype: int64
3    b
dtype: object
Series([], dtype: object)
y    1
m    2
n    3
dtype: int64

In [101]:
"""bool切片必返回series，这点类似帽号切片"""
sr3 = pd.Series(list('abcd'),index=range(4))
sr4 = pd.Series(list('abcd'),index=range(2,6))
bseries = sr3=='b'
blist = list(bool1)
print(sr3)
print(sr4)
print(bool1)
print(bool2)
"""使用series进行bool切片，要求series的index必须完全匹配。
sr4[bseries]会报错，因为sr4和bseries的index不完全匹配"""
print(sr3[bseries])
print(sr3[blist])
print(sr4[blist])

0    a
1    b
2    c
3    d
dtype: object
2    a
3    b
4    c
5    d
dtype: object
0    False
1     True
2    False
3    False
dtype: bool
[False, True, False, False]
1    b
dtype: object
1    b
dtype: object
3    b
dtype: object

### series一些操作

In [31]:
sr1 = pd.Series(range(4), index=list('abcd'))
sr1.values

array([0, 1, 2, 3], dtype=int64)

In [32]:
sr1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [33]:
sr1.index = range(4)
sr1.index

RangeIndex(start=0, stop=4, step=1)

### series复制

In [92]:
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1

2    a
4    b
6    c
3    d
5    e
dtype: object

In [93]:
"""直接复制，sr1_a和sr1指向同一个物理地址，修改会相互影响"""
sr1_a = sr1
sr1_a.index = [21,22,23,24,25]
sr1

21    a
22    b
23    c
24    d
25    e
dtype: object

In [94]:
"""使用copy复制，修改sr1_b不会影响sr1"""
sr1_b = sr1.copy()
sr1_b.index = [111,222,333,444,555]
sr1

21    a
22    b
23    c
24    d
25    e
dtype: object

In [161]:
"""切片后得到的series与原来的指向同一个value，但index是各自的"""
sr1 = pd.Series(list('abcde'),index=range(5))
ssr1 = sr1[1:4]
print(ssr1)
"""下面这种修改ssr1不会修改sr1的index"""
ssr1.index = [11,22,33]
print(ssr1)
print(sr1)
"""给ssr1原来的索引赋值，会影响sr1的value。因为二者的index是各自的，但指向同一个内存位置的value"""
ssr1[[11,22]] = ['bb','cc']
print(ssr1)
print(sr1)
"""当给ssr1新增一个索引时，ssr1不再与sr1指向同一个内存位置的value。此时修改ssr1的index或value，都不会改变sr1"""
ssr1[44] = 'xx'
print(ssr1)
print(sr1)
"""修改ssr1的value，不再改变sr1的value，二者的value也是各自的"""
ssr1[33] = 'dd'
print(ssr1)
print(sr1)
"""显然，这样修改ssr1=['x','xx','xxx']是对ssr1重新赋值，也会导致sr1与ssr1不再共享value，各自修改不受影响"""
print('byby')

1    b
2    c
3    d
dtype: object
11    b
22    c
33    d
dtype: object
0    a
1    b
2    c
3    d
4    e
dtype: object
11    bb
22    cc
33     d
dtype: object
0     a
1    bb
2    cc
3     d
4     e
dtype: object
11    bb
22    cc
33     d
44    xx
dtype: object
0     a
1    bb
2    cc
3     d
4     e
dtype: object
11    bb
22    cc
33    dd
44    xx
dtype: object
0     a
1    bb
2    cc
3     d
4     e
dtype: object
byby

### series增删改

In [73]:
sr1.drop(21)

22    b
23    c
24    d
25    e
Name: ww, dtype: object

In [75]:
sr1.drop([21,23,25])

22    b
24    d
Name: ww, dtype: object

### series运算

In [7]:
sr1 = pd.Series(range(3),index=range(3))
sr2 = pd.Series(range(3),index=range(1,4))
print(sr1,'\n',sr2)

0    0
1    1
2    2
dtype: int64
 1    0
2    1
3    2
dtype: int64

In [9]:
"""series相加是按index对齐的"""
sr1+sr2

0    NaN
1    1.0
2    3.0
3    NaN
dtype: float64

In [10]:
sr1*2

0    0
1    2
2    4
dtype: int64

In [11]:
import numpy as np
np.exp(sr1)

0    1.000000
1    2.718282
2    7.389056
dtype: float64

In [13]:
"""查看某索引是否在obj中，返回bool"""
print(2 in sr1)
print(2 & 8 | 2 in sr1)

True
True

In [14]:
"""缺失值判断"""
sr3 = pd.Series(['a',None,'',0],index=[1,2,3,4])
sr3

1       a
2    None
3
4       0
dtype: object

In [15]:
pd.isnull(sr3)

1    False
2     True
3    False
4    False
dtype: bool

In [16]:
pd.notnull(sr3)

1     True
2    False
3     True
4     True
dtype: bool

In [17]:
sr3.isnull()

1    False
2     True
3    False
4    False
dtype: bool

___

In [ ]:
"""未整理"""
df['label'] = df['label'].map({'a': 0, 'b': 1, 'd': 2})
df=df.values
array.tolist()
feature_vec = feature_df.values.T.tolist()

In [10]:
"""时间解析函数"""
pd.to_datetime(['1/22/2018', np.datetime64('2018-01-22'),datetime.datetime(2018, 1, 22)])

DatetimeIndex(['2018-01-22', '2018-01-22', '2018-01-22'], dtype='datetime64[ns]', freq=None)