In [2]:
import numpy as np
import pandas as pd
import datetime
# help(pd.DataFrame([1]).duplicated)
# help(pd.DataFrame([1]).index)

In [ ]:
"""pandas记牢
dataframe.to_csv存储时默认的encoding是utf8，如果有汉字且在excel打开时请指定GB2312。
dataframe存储时默认加一列index，一般需指定index=False。
dataframe存储时默认header=True，当header=False第一行变为header。注意header=n有歧义，当n=0时等价于header=False，当n!=0时等价于header=True，注意这个n不是指的第几行。
pd.read_csv读取数据默认encoding是utf8。
pd.read_csv读取数据时默认在原始数据前加一列索引，0开始递增。
pd.read_csv读取数据时默认header=0，也就是原始数据第一行（通常是列名）。如果指写header=3则以第4行作为列名，且跳过前三行数据不读取（包括列名）。注意header不能赋值True或False。
"""

In [ ]:
"""载入csv文件无法处理中文路径时，可令enging=‘python’，默认是C引擎"""
pd.read_csv('path', enging='python', encoding='utf-8')

In [ ]:
"""只读取部分列"""
pd.read_csv(path, usecols=['cola','colb'])  # usecols也接受位置索引
pd.read_parquet(path, columns=['cola','colb'])

In [9]:
"""时间解析函数"""
pd.to_datetime(['1/22/2018', np.datetime64('2018-01-22'),datetime.datetime(2018, 1, 22)])
pd.to_datetime('')  # return NaT
"""字符串和数字的区别，后者会被视为纳秒单位"""
pd.to_datetime('16780101')  # need biger than Timestamp('1678-01-01 00:00:00')
pd.to_datetime(16780101)  # Timestamp('1970-01-01 00:00:00.016780101'

Timestamp('1970-01-01 00:00:00.016780101')

### dtype操作

In [10]:
"""dtype Parameter can only specify all columns at the same time"""
df = pd.DataFrame([666], dtype='float')

In [16]:
"""create new one, won't modify original one"""
df = pd.DataFrame(np.arange(6).reshape(2, 3),dtype='float')
sr1 = df[1].astype(int)
df1 = df.astype(int)

### create

In [ ]:
"""series"""
pd.Series(list('ab'))
pd.Series({11:1,22:2,})
pd.Series({11:1,22:2,},index=[11,22,33])
"""用array创建"""
df = pd.DataFrame(np.arange(6).reshape(2, 3), columns=list('abc'), index=range(11,13), )
"""用列表或元组创建，里面可以是series, list, tuple, 单个值"""
sr1 = pd.Series(list('xyz'),index=range(3))
df = pd.DataFrame([[1,2,3],(11,12,13),sr1],columns=list('abc'),index=range(11,14), )
"""用字典创建，里面可以是series, list, tuple, 单个值
通过字典创建时，若指定columns，冲突时以columns为准，仅columns有的设置为空列，仅字典有的不加入dataframe
"""
sr1 = pd.Series(list('abc'),index=range(3))
sr2 = pd.Series(list('bcd'),index=range(1,4))
df = pd.DataFrame({'xa':sr1,'xb':sr2,'xc':[11,22,33,44],'xd':(6,7,8,9)})
"""series也可转换为df"""
pd.Series(list('asdfg')).reset_index()
"""df和dict多种转换方法，orient参数有‘dict’, ‘list’, ‘series’, ‘split’, ‘records’, ‘index’"""
df.to_dict(orient=dict)
pd.DataFrame.from_dict(dict(a='a'), orient='index',columns=[])

### index

In [8]:
sr1 = pd.Series(1)
df1 = pd.DataFrame([1])
"""original is None, need assign name manually"""
sr1.name = 'ww'
sr1.index.name = 'x'
df1.index.name = 'x'
df1.columns.name = 'x'
"""routine operation"""
sr1.values
sr1.values.tolist()
sr1.index
sr1.index.tolist()
sr1.index = ['x']
"""both return index object"""
df1.columns
df1.index
"""modify in place, and delete columns.name or index.name"""
df1.columns = ['x']
df1.index = ['a']
"""diff operation"""
df1.index.difference([0])
df1.columns.difference(['x'])
"""create new one"""
df2 = df1.add_prefix('w_')

### series copy

In [27]:
sr1 = pd.Series(list('abc'),index=[1,3,5])
"""直接复制，sr1_a和sr1指向同一个物理地址，index和value均共享"""
sr1_a = sr1
sr1_a.index = [11,13,15]
"""使用copy()复制后，index和value完全独立"""
sr1_b = sr1.copy()

In [28]:
"""切片得到的series，index不共享，value共享"""
sr1 = pd.Series(list('abc'),index=[1,3,5])
ssr1 = sr1[0:2]
"""修改ssr1的index，sr1的index不变"""
ssr1.index = [11,13]
"""修改ssr1的value（即使按ssr1的新index修改），sr1的value也被同步修改"""
ssr1[11] = 'aa'
"""当给ssr1新增索引，则会导致二者的index和value完全独立，不会再导致sr1被同步修改"""
ssr1[66] = 'xxx'
ssr1[11] = 'aaa'
"""显然下面的修改是给ssr1重新赋值，不存在相互影响"""
ssr1=['x','xx','xxx']

### dataframe copy

In [23]:
df1 = pd.DataFrame([1,11])
"""df1 and df2 point to the same location"""
df2 = df1
df2['a'] = 66
"""df2 and df1 point to different location"""
df2 = df1.copy()

### series slice

In [ ]:
sr1 = pd.Series(list('abcd'),index=[11,12,13,14])
sr2 = pd.Series(range(4),index=list('xymn'))
"""当series索引为int或float时，无帽号切片中的数字是按值索引，而非位置。帽号切片则是位置"""
"""切片返回单个元素"""
sr1[13]
sr2['m']
"""切片返回series"""
sr1[[13,]]
sr2[['m',]]
sr1[1:1]
"""字符串帽号切片，按字母位置而非字母表顺序，且包含最后一个字母。"""
sr2['y':'n']

In [ ]:
"""bool切片必返回series，这点类似帽号切片"""
sr3 = pd.Series(list('abcd'))
sr4 = pd.Series(list('abcd'),index=[11,12,13,14])
bool_series = sr3=='b'
bool_list = bool_series.tolist()
"""bool用bool_series切片，则要求bool_series和原series的index必须一模一样"""
sr3[bool_list]
sr3[bool_series]
sr4[bool_list]
# sr4[bseries] 会报错，因为sr4和bseries的index不完全匹配
"""series对于纯数字序列无法按位置索引时，可用iloc命令进行位置索引。"""

### dataframe slice

In [70]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 'c'], index=range(1,3), dtype='int')
"""df1.loc[:, 'c']
by columns, label based(only string), return series
"""
df1.c
"""df1.loc[:, 1]
by columns, label based, return series
"""
df1[1]
"""df1.loc[:, [1]]
by columns, label based, return dataframe
"""
df1[[1]]
"""df1.iloc[:1]
by rows, positional based, return dataframe
"""
df1[:1]
"""df1.iloc[[1]]
by rows, positional based(can't use ":"), return dataframe
"""
df1.take([1])
"""df1.loc[1]
by row(one row each time), label based, return series
"""
df1.xs(1)
"""series的take方法，按位置索引取对应的值，生成新的series"""
s1 = pd.Series([11,18,13,14], index=list('abcd'))
s1.take([1,3])

b    18
d    14
dtype: int64

In [7]:
"""filter可对行、列索引筛选，支持正则表达示切片。修改切片后数据对原dataframe无影响。"""
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=['ca','cb','x'], index=['ia','ib','y'], dtype='int')
"""筛选列表中的columns"""
df1.filter(items=['a','x'], axis=1)
"""筛选column包含某字符串的列"""
df1.filter(like='c', axis=1)
"""正则匹配对行索引筛选"""
df1.filter(regex='i+', axis=0)
"""利用difference来排除不需要的行或列。修改切片后数据对原dataframe无影响。这里index.difference未举例，同理"""
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=['ca','cb','x'], index=['ia','ib','y'], dtype='int')
_ = df1[df1.columns.difference(['ca','x'], sort=False)]  # 通过sort=False可以避免打乱原始的列的顺序

In [ ]:
"""using T and F to slice"""
df1.columns[[True,False,False]]  # by columns, must be same length
df1[[True, False]][[False]]  #  by rows, must be same length
df1.iloc[:,[True,False,True,]]  # needn't match the length

In [67]:
"""using index object to slice"""
idx = pd.Index(list('ac'))
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('abc'), index=list('abc'))
df1[idx]  # only by columns
df1.loc[idx]  # by row
df1.loc[:, idx]  # by columns
x = df1.loc[idx, idx]  # both columns and row

### loc和iloc操作

In [50]:
"""
df.at和df.loc如果碰到index或column重复的情况，会把重复的全取出来。
当其中一个维度重复时返回series，当其中两个维度重复时返回dataframe
"""
dfloc = pd.DataFrame([[1,2,3],[11,22,33],[111,222,333]], columns=list('zxy'), index=list('cab'))  # the dtype parameter assignment all columns
dfloc.loc['a']
dfloc.loc[:'a']
dfloc.loc[['a']]
dfloc.loc[:, 'x']
dfloc.loc[:, :'x']
dfloc.loc[:, ['x']]
dfloc.loc['a', 'x']
dfloc.loc['a', :'x']
dfloc.loc['a', ['x', 'x']]
dfloc.loc[:'a', :'x']
dfloc.loc[:'a', ['x', 'x']]
x = dfloc.loc[['a', 'a'], ['x', 'x']]

In [51]:
dfiloc = pd.DataFrame([[4,5,6],[44,55,66]], columns=list('xyz'), index=list('ab')); dfiloc
dfiloc.iloc[1]
dfiloc.iloc[:1]
dfiloc.iloc[[1]]
dfiloc.iloc[:, 1]
dfiloc.iloc[:, :1]
dfiloc.iloc[:, [1]]
dfiloc.iloc[1, 1]
dfiloc.iloc[1, :1]
dfiloc.iloc[1, [1, 1]]
dfiloc.iloc[:1, :1]
dfiloc.iloc[:1, [1,1]]
x = dfiloc.iloc[[1, 1], [1, 1]]

In [47]:
"""关于使用loc索引数值时的两个坑"""
"""即使str(9)作为索引，dataframe也会按照number来处理，与9无区别"""
dfloc_ = pd.DataFrame([[1,2,3],[11,22,33],[111,222,333]], columns=[6, 'a', str(9)], index=[11, 11, 22])  # mixed index of number and string

In [48]:
"""坑1：当行列索引为纯number组成时，并且按位置排序时索引的number不减少（递增或不减）时，则帽号前后的数字可不在现有索引中，dataframe会按数值来比较大小进行切片。
如果纯number组成的索引出现递减的情况，帽号前后使用索引之外的数字会报错KeyError"""
dfloc_.loc[1:12]

     6   a   9
11   1   2   3
11  11  22  33

In [49]:
"""坑2：当两种条件同时满足会报错：数字和字母混合索引，帽号前后是数字。比如df2.loc[:,:9], 会报错TypeError"""
dfloc_.loc[:11,:'a']

     6   a
11   1   2
11  11  22

### at和iat操作

In [26]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]], columns=[1, 2, 'c'], index=range(1,3), dtype='float')  # the dtype parameter assignment all columns
df1.at[1,1]  #  by cell, label based, return value
df1.iat[1,1]  #  by cell, positional based, return value
df1.at[1,1] = 111  # modify in place, label based
df1.iat[1,1] = 222  # modify in place, positional based

### series增删改

In [ ]:
sr1 = pd.Series(list('abcd'),index=[11,12,13,14])
"""与切片同理，当索引为int或float时，按值来索引删除"""
"""create new"""
sr1.drop(11)
sr1.drop([13,14])

### 赋值或新增

In [12]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 'c'], index=range(1,3), dtype='int')  # the dtype parameter assignment all columns
"""以下赋值均为in place, broadcast"""
df1.c = 'x'
df1[1] = 'x'
df1[[1]] = 'x'
df1[:1] = 'x'
df1.loc[1] = 'x'
df1.loc[[1]] = 'x'
df1.iloc[1] = 'x'
df1.iloc[[1]] = 'x'
"""注意at只改变1个值，这个新值的数据类型不能与原来列的数据类型冲突"""
df1.at[1,1] = 111
df1.iat[1,1] = 222
"""不可以赋值，因为是function call"""
df1.take([1])  # 对新得到的dataframe赋值，不会改变原来的df1
df1.xs(1)  # 对新得到的series赋值，会改变原来的df1

1    111
2      x
c      x
Name: 1, dtype: object

In [13]:
df1 = pd.DataFrame([[4,5,6,7],[44,55,66,77]],columns=[1, 2, 'c', 'd'], index=range(1,3), dtype='int')  # the dtype parameter assignment all columns
"""ndarray,list,tuple均不能广播，但是tuple一个元素的时候可以广播"""
df1.loc[1] = ['list','list','list','list']; df1
df1.loc[2] = ('tuple','tuple','tuple','tuple'); df1
df1.loc[0] = np.array(['np', 'np', 'np', 'np']); df1
df1.loc[:,'e'] = np.array(['np', 'np', 'np']); df1

       1      2      c      d   e
1   list   list   list   list  np
2  tuple  tuple  tuple  tuple  np
0     np     np     np     np  np

In [72]:
"""ndarray,list,tuple也可以按区块赋值"""
df1.loc[[1,2],['d','e']] = np.array([['nmpy','nmpy'],['nmpy','nmpy']])
df1.loc[[1,2],[1,2]] = [['lst','lst'],['lst','lst']]; df1

     1    2      c     d     e
1  lst  lst   list  nmpy  nmpy
2  lst  lst  tuple  nmpy  nmpy
0   np   np     np    np    np

In [73]:
"""dict, series按索引精确匹配，多出来的丢弃，缺失的填NaN"""
df1.loc[1] = {1:'dict',2:'dict',3:'dict'}
df1.loc[2] = pd.Series(['series','series','series'], index=[1,'c','e'])
df1

        1     2       c    d       e
1    dict  dict     NaN  NaN     NaN
2  series   NaN  series  NaN  series
0      np    np      np   np      np

In [74]:
"""Pandas赋值是精确匹配行列索引的，只测试了下面的例子"""
pd2 = pd.DataFrame({1:['pandas', 'pandas'], 'c':['pandas', 'pandas']}, index=[2,3])
df1.loc[:,[1,2,'c']] = pd2
df1

        1    2       c    d       e
1     NaN  NaN     NaN  NaN     NaN
2  pandas  NaN  pandas  NaN  series
0     NaN  NaN     NaN   np      np

In [14]:
"""新增行或列，只有df['a']和df.loc['a'],df.loc[:,'a']这两种方法"""
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 3], index=[1, 2], dtype='int')  # the dtype parameter assignment all columns
"""list,tuple,ndarray要长度完全匹配"""
df1['a']  = [1,1]
df1.loc[:,'b'] = np.array([1,1])
df1.loc[66] = (1,2,3,4,5)
df1

     1   2   3  a  b
1    4   5   6  1  1
2   44  55  66  1  1
66   1   2   3  4  5

In [78]:
"""series可以按索引匹配，dict无法用于新增行或列"""
df1.loc[:,'ab'] = pd.Series({1:'sr',8:'sr'})
df1.loc['xb'] = pd.Series({1:'sr',8:'sr'})
df1

     1     2     3    a    b   ab
1    4   5.0   6.0  1.0  1.0   sr
2   44  55.0  66.0  1.0  1.0  NaN
66   1   2.0   3.0  4.0  5.0  NaN
xb  sr   NaN   NaN  NaN  NaN  NaN

### 删除操作

In [59]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 'c'], index=range(1,3), dtype='int')  # the dtype parameter assignment all columns
"""可分别对行或列删除，按值索引"""
_ = df1.drop([1,'c'], axis=1)  # delete by label, create new, can multi column each time
"""del方法只能删除列"""
del df1[1]  # delete by label, in place, one column each time

### filter操作

In [49]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 'c'], index=range(1,3), dtype='int')  # the dtype parameter assignment all columns
"""
df1[df1['column'].isin([1,2,3,4])]
df1[df1['column'] >= 66]
df1[df1['column'].map(lambda x: 'str' in x)]
"""
"""逻辑判断技巧，每个判断要加个括号，再用*或+连起来，*替代and，+替代or"""
(df['col1']==1) * (df['col2']==6)
(df['col1']==1) + (df['col2']==6)
"""filter at cell, NaN or value"""
df1[df1>10]

      1     2     c
1   NaN   NaN   NaN
2  44.0  55.0  66.0

### value操作

In [17]:
df1 = pd.DataFrame([[4,5,6],[44,55,66]],columns=[1, 2, 'c'], index=range(1,3), dtype='int')  # the dtype parameter assignment all columns
"""return numpy"""
df1.values
"""tolist is a method of numpy"""
df1.values.tolist()
"""tolist is a method of series"""
df1['c'].tolist() == df1['c'].values.tolist()
"""transposition"""
df1.T.values.tolist() == df1.values.T.tolist()

True

### series运算

In [9]:
sr1 = pd.Series(range(3))
sr2 = pd.Series(range(3),index=range(1,4))
"""series相加是按index对齐的"""
sr1+sr2
"""每个元素*2"""
sr1*2
"""每个元素进行e的幂运算"""
np.exp(sr1)

0    1.000000
1    2.718282
2    7.389056
dtype: float64

### 运算

In [36]:
df1.info()  # 显示每一列的缺失值数，以及列的数据类型
df1.describe()

In [35]:
"""运算"""
df1 = pd.DataFrame(np.arange(6).reshape(2,3), columns=list('xyz'), index=list('ab'))
df2 = pd.DataFrame(np.ones([2,2]), columns=list('xy'), index=list('ac'))
sr1 = pd.Series([-6,-6], index=list('ax'))

In [42]:
abs(df1)
-df1
(-df1).abs()
df1 - sr1  # 按索引对齐，未能匹配的返回NaN, 默认沿axis=0广播
df1 + df2  # 按索引对齐，未能匹配的返回NaN
"""df与series的add, sub, div, mul 操作, 只举了mul的例子，其他一样"""
df1.mul(sr1, axis=0)  # 按索引对齐，未能匹配的返回NaN, 默认沿axis=0广播
"""两个df之间的add, sub, div, mul 操作, 只举了add的例子，其他一样"""
df1.add(df2, fill_value=66)  # 二者仅1个有缺失值，则使用fill_value，如果2个frame都是NaN，则fill_value无效，单元格返回NaN。

      x     y     z
a   1.0   2.0  68.0
b  69.0  70.0  71.0
c  67.0  67.0   NaN

In [20]:
"""apply to columns"""
df = pd.DataFrame(np.ones([2,2]),columns=[11,12])
list(df)
set(df)
sum(df)
df = pd.DataFrame([[1,2,3]],columns=['abc','zabc','zaaa'])
max(df)  # columns must be pure numbers or pure strings
min(df)  # columns must be pure numbers or pure strings
sorted(df)  # columns must be pure numbers or pure strings
"""apply to rows"""
len(df)  
"""apply to cell"""
df = pd.DataFrame(-np.ones([2,2]),columns=[11,12])
abs(df)
"""convert series by columns"""
df = pd.DataFrame([[1,2,3]],columns=['abc','zabc','zaaa'])
dict(df)
666

666

In [44]:
"""dataframe支持的运算（series未测试）count, min, max, quantile(0.5), sum, mean, median, mad, var, std, 
skew, skurt, cumsum, cumprod, cummin, cummax"""
df1.count(axis=0, numeric_only=True)  # 默认axis=0, count是统计非空值的（非空定义未测试）, numeric_only是指的列类型为数值
"""仅series支持的idxmin, idxmax, values.argmin, values.argmax"""
df1['x'].idxmin()  # 返回对应的索引
df1['x'].values.argmin()  # 返回对应的位置，这里本质使用的numpy的方法。

0

In [45]:
"""行与行之间的计算"""
df1.diff(axis=0)  # 下一行减前一行的差值，可用于series
df1.pct_change(axis=0)  # 下一行除以上一行，再减去1
df1.corr()  # 相关系数，只有列之间的计算，且是所有列，不能筛选列
df1.cov()  # 协方差，用法同上
sr2 = df1.loc[:,'x']
sr2.corr(sr2)  # series之间计算相关系数
df1.corrwith(sr2, axis=0)  # df与series之间计算相关系数，要求索引对应上，且可以按行或列计算。

x    1.0
y    1.0
z    1.0
dtype: float64

In [16]:
"""unique只适用series，不适用df，如df1[['x']]"""
df1['x'].unique()  # return ndarray

array([0, 3], dtype=int64)

In [23]:
"""isin同时适用df和series，分别返回df或series"""
df1['x'].isin([0,1])
df1.isin([0,1])

       x      y      z
a   True   True  False
b  False  False  False

In [34]:
"""value_counts只适用于series，可通过apply用于df"""
df1['x'].value_counts()  # 统计各值的频次，数值也可以统计
pd.value_counts(df1['x'],sort=True)  # 顶级函数可排序
df1.apply(pd.value_counts,axis=1) # 计算各行或各列的计数，返回df

     0    1    2    3    4    5
a  1.0  1.0  1.0  NaN  NaN  NaN
b  NaN  NaN  NaN  1.0  1.0  1.0

### 其他待整理

In [ ]:
"""
注意：如果该col类型为dtype='category'，则df会记录该列的所有种类，
在valuecounts时，虽然某种数据全部删除了，count结果仍会保留该类，且记数值为0。
pd.qcut产生的就是category类型。
"""
df['col'].value_counts()

### 其他

In [ ]:
"""查看某索引值是否在obj中，返回bool"""
2 in sr1
"""为啥这两句都返回Ture，因为in是对索引判断的，而True被看作1，False被看作0"""
True in pd.Series([False, False])  # True
False in pd.Series([True, True])  # True
True in pd.Series([False, False],index=[2,3])  # False

In [13]:
"""多个series逻辑判断无法用and和or时，可用（+*|&）代替
建议用(|&)，因为numexpr库不支持(+*)
"""
s01 = pd.Series([True,True,False])
s02 = pd.Series([True,True,False])
s03 = pd.Series([True,False,False])
s01 + s02 + s03 == s01 | s02 | s03
s01 * s02 * s03 == s01 & s02 & s03

0    True
1    True
2    True
dtype: bool