In [1]:
import numpy as np
import pandas as pd

In [7]:
# 将表格拆分为可迭代对像的3种方法
df1 = pd.DataFrame(np.random.rand(12).reshape(3,4), columns=list('abcd'))
df1.iterrows()  # 将DataFrame迭代为(insex, Series)对。
df1.itertuples()  # 将DataFrame迭代为元祖。
df1.iteritems()  # 将DataFrame迭代为(列名, Series)对。

___

___

___

In [51]:
pd.Series({11:111,22:222,})

11    111
22    222
dtype: int64

In [52]:
pd.Series({11:111,33:333,},index=[11,22,33])

11    111.0
22      NaN
33    333.0
dtype: float64

In [53]:
# 当series索引本身是int或float，那么使用位置索引series[5]会有岐义，此时优先按值索引，而不是位置。
sr1 = pd.Series(list('abcde'),index=[2,4,6,3,5])
sr1[2]

'a'

In [54]:
sr1.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [55]:
sr1.index

Int64Index([2, 4, 6, 3, 5], dtype='int64')

In [63]:
sr1.index = [1,2,3,4,5,]
sr1

1    a
2    b
3    c
4    d
5    e
Name: ww, dtype: object

In [57]:
sr1.index.name

In [58]:
sr1.index.name = 'hi'

In [59]:
sr1.name

In [60]:
sr1.name = 'ww'

In [61]:
sr1_1 = sr1.copy()
sr1_1.index = [11,22,33,44,55]
sr1

hi
1    a
2    b
3    c
4    d
5    e
Name: ww, dtype: object

In [66]:
sr1_2 = sr1
sr1_2.index = [21,22,23,24,25]
sr1

21    a
22    b
23    c
24    d
25    e
Name: ww, dtype: object

In [72]:
sr1

21    a
22    b
23    c
24    d
25    e
Name: ww, dtype: object

In [73]:
sr1.drop(21)

22    b
23    c
24    d
25    e
Name: ww, dtype: object

In [75]:
sr1.drop([21,23,25])

22    b
24    d
Name: ww, dtype: object

In [ ]:
"""df按某列值筛选的本质
df[通过一个bool值列表进行筛选]"""

In [ ]:
df['label'] = df['label'].map({'a': 0, 'b': 1, 'd': 2})

In [ ]:
df=df.values
array.tolist()
feature_vec = feature_df.values.T.tolist()